body {
    background-color: black; /* VP */
}

.page-header {
    color: white /* VP */
}

h3 {
    color: white; /* VP */
}

.table {
    color: grey; /* VP */
}

.table thead{
    color: grey; /* VP */
}

.table>tbody>tr.hover:hover>td, .table>tbody>tr.hover:hover>th {
    background-color: #333; /* VP */
}

.table>tbody>tr.highlight>td, .table>tbody>tr.highlight>th {
    background-color: #333;
    border-color: #333;
}

.table>tbody>tr.highlight:hover>td, .table>tbody>tr.highlight:hover>th {
    background-color: #333; /* VP */
    border-color: #333;
}

div#footer {
    background-color: #333; /* VP */
    color: grey;
}

.navbar-default {
    background-color: #333; /* VP */
    border: 0px;
}

.navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{
    color:#555;
    background-color:transparent;
}

a.navbar-brand{
    color: #23527c
}

div.metric-body{
    color: #23527c;
}

div.metric-description{
    color: grey;
}

.job-snippet {
    background-color: #333
}

.job-snippet-properties dl dt {
    color: black;
    text-shadow: 0 0px;
}

.state-card{
    border: 0px;
    color: black;
    background-color: #333;
}

.state-card-body{
    color: black;
    background-color: #333;
}

.state-card-title {
    color: grey;
}